.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* margin: 0 0 50px; */
}

.login-container form h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

h2 {
    text-align: center;
}

.login-container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.login-container span {
    font-size: 14px;
}

.login-container a {
    color: #24252A;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.login-container button {
    border-radius: 50px;
    border: none;
    background-color: #24252A;
    color: #edf0f1;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
    transition: all 0.1s ease 0s; 
    cursor: pointer; 
    transition: 0.5s; 
    background-size: 300% auto;
}

.gradient-btn-si {
    background-image: linear-gradient(to left, #bd3451 0%, #190c29 51%, #306fc1 100%);
}

.gradient-btn-si:hover {
    background-position: right center;
}

.gradient-btn-su {
    background-image: linear-gradient(to right, #bd3451 0%, #190c29 51%, #306fc1 100%);
}

.gradient-btn-su:hover {
    background-position: right center;
}

.login-container button:active {
    transform: scale(0.95);
}

.login-container button:focus {
    outline: none;
}

.login-container button.ghost {
    background-color: #24252A;
    border-color: #edf0f1;
    box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 13px 27px -7px rgba(0, 0, 0, 0.42);
}

form {
    background-color: #edf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #dcdcdc;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    box-shadow: 8px -10px 46px -5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 8px -10px 46px -5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 8px -10px 46px -5px rgba(0, 0, 0, 0.25) inset;
}

input:focus {
    outline: none;
}

.login-container {
    background-color: transparent;
    border-radius: 10px;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2
}

.login-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background-image: linear-gradient(to right, #bd3451 0%, #190c29 51%, #306fc1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #edf0f1;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay h1 {
    font-size: 32px;
}

.login-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.login-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.login-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #edf0f1;
    border-radius: 50%;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.fa-google-plus-g::before {
    content: "\f0d5";
}

.fa-linkedin-in::before {
    content: "\f0e1";
}

.fa-facebook-f::before {
    content: "\f09a";
}


